extends layout

block content
  h1=title

  form(method='get')
    input(type='text' name='find' value=inputValue)
    input(type='submit' value='find')
  
  each item, index in data
    if(item.show)
      h4=item.title
      each paragraph, parIndex in item.body
        p!=paragraph
      br
